.body{

    justify-content: center !important;
}

.container{
    border:1px;
    
}

#cards-1{
    margin-top: 10%;
    margin-left: 6%;
    margin-bottom: 7% !important;
    box-shadow: 10px 10px 10px rgb(250, 248, 248);
    
}

.card-header{
    text-align:center;
    background-color: rgba(255, 203, 15, 0.895) !important;
}

.card{
    margin-bottom: 7%
}

.row{
    margin-bottom: 7%;
}

span{
    margin-top: 1px;
}

@media (max-width: 575.98px) {  
    .card{
        margin-bottom: 20%
    }
    span{
        margin-top: 1px !important;
    }
  }